
<!-- Publications Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      {% assign grouped_paper = site.papers | group_by:"year" %}
      {% for paper_group in grouped_paper %}
      <h3>{{paper_group.name}}</h3>
      <ul class="publications">
        {% for paper in paper_group.items %}
          <li class="publication">
              <div class="publication-body text-justify">
                {{ paper.authors }}
                {% assign paper_link = paper.link | strip %}
                {% if paper_link == "" %}
                  <a> {{ paper.title }} </a>
                {% else %}
                  <a href="{{ paper.link }}"> {{ paper.title }} </a>
                {% endif %}
                {{paper.details}}
              </div>
          </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Publications End -->
